<div class='game_of_frames'>
  <h5 class='text-center main_title'>
    Your favorite Game of Thrones characters in their John Jacobs eyewear avatar!
  </h5>
  <div class='header_img'>
    <div class='img'>
      <img src="//cdn.shopify.com/s/files/1/1276/5299/files/GameOfFrames.jpg?v=1504081072" 
      alt="">
    </div>
  </div>
  <div class='text'>
    <p>
      If the Westerosi wall fell down (hmm..about that though..) and 
      their world came alive in the John Jacobs universe, what would it be like 
      (besides being freezing cold, basically)? In an attempt to break 
      down some of our coolest eyewear to you, we take you to a beautiful 
      place where your favourite Game of Thrones characters are John Jacobs eyewear
      collections.
    </p>

  </div>
  <p class='spoilers'>
    No spoilers and no Dothraki, we promise!
  </p>
  <div class='ol_list'>
    <ol>
      <li>
        <p class='li_title'>Danearys Targaryen</p>
        <div class='img'>
          <img src="//cdn.shopify.com/s/files/1/1276/5299/files/Dany.jpg?v=1504081535" alt="">
          <span><i>Image source: www.hbo.com</i></span>
        </div>
        <div class='product'>
          <div class="flex_view_xs middle"> 
            <div class="col-xs-6 col-sm-6"> 
              <div class='p_img'>
                <a href="https://www.johnjacobseyewear.com/collections/marine-drive-collection">
                <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/frames01.jpg?14038939588024129760"
                alt="">
                  
                </a>
              </div>
            </div> 
            <div class="col-xs-6 col-sm-6"> 
              <p class='space-left p_text'>
                The Mother of Dragons, the Queen of Mereen, the Unburnt, Khaleesi, the….well,
                you catch the drift. If there is a &nbsp;range which truly mirrors
                Danearys in all her glory, it is our 
                <a href="https://www.johnjacobseyewear.com/collections/marine-drive-collection"> 
                  Lightweight collection
                </a>. Unbreakable, simply stunning and a force to
                be reckoned with, the lightweight collection remains
                undefeated in its versatility. Wear them with pride. 
                After all, the dragons are watching over you!
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <p class='li_title'>Jon Snow</p>
        <div class='img'>
          <img src="//cdn.shopify.com/s/files/1/1276/5299/files/Jon-Snow.jpg?v=1504081806" alt="">
          <span><i>Image source: www.hbo.com</i></span>
        </div>
        <div class='product'>
          <div class="flex_view_xs middle"> 
            <div class="col-xs-6 col-sm-6"> 
              <div class='p_img space-right'>
                <a href="https://www.johnjacobseyewear.com/collections/sale/material_stainless-steel">
                <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/frames04.jpg?14038939588024129760"

                alt="">
                </a>
              </div>
            </div> 
            <div class="col-xs-6 col-sm-6"> 
              <p class='p_text'>
                Much like Jon Snow’s Targaryen and Stark lineage, 
                the stainless steel comes from two families of metals- steel &amp; chromium. Our 
                <a href="https://www.johnjacobseyewear.com/collections/sale/material_stainless-steel">
                  stainless steel eyewear
                </a>
                exhibits the strength and durability only matched by
                Valyrian steel and the drop-dead good looks of the King in the North himself.
                And they know a lot more than the Lord Commander; definitely a
                thing or two about great style!</p>
              </div>
            </div>
          </div>
        </li>
        <li >
          <p class='li_title'>Tyrion Lannister</p>
          <div class='img'>
            <img src="//cdn.shopify.com/s/files/1/1276/5299/files/Tyrion.jpg?v=1504081987" alt="">
            <span><i>Image source: www.hbo.com</i></span>
          </div>
          <div class='product'>
            <div class="flex_view_xs middle"> 
              <div class="col-xs-6 col-sm-6"> 
                <div class='p_img space-right'>
                  <a href="https://www.johnjacobseyewear.com/collections/sale/color_tortoise">
                  <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/frames03.jpg?14038939588024129760"
                       
                  alt="">
                  </a>
                </div>
              </div> 
              <div class="col-xs-6 col-sm-6"> 
                <p class='p_text'>
                  Every epicurean’s delight, our
                  <a href="https://www.johnjacobseyewear.com/collections/sale/color_tortoise">
                    Tortoise coloured collection
                  </a>  
                  comes closest to being like the Hand of the Queen, Tyrion
                  Lannister. Don’t go only by its looks! The tortoise style
                  is not just fun and games but means real business. The collection 
                  is crafted from Italian Acetate, which makes it super comfortable
                  and harmless to the environment and all that while being the life
                  of the party, much like Tyrion.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class='li_title'> Arya Stark</p>
          <div class='img'>
            <img src="//cdn.shopify.com/s/files/1/1276/5299/files/Arya.jpg?v=1504082115" alt="">
            <span><i>Image source: www.hbo.com</i></span>
          </div>
          <div class='product'>
            <div class="flex_view_xs middle"> 
              <div class="col-xs-6 col-sm-6"> 
                <div class='p_img space-right'>
                  <a href="https://www.johnjacobseyewear.com/collections/sale/shape_cat-eye">
                  <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/frames05.jpg?14038939588024129760" alt="">
                  </a>
                </div>
              </div> 
              <div class="col-xs-6 col-sm-6"> 
                <p class='p_text'>
                  The absolute fire cracker of a character,
                  Arya Stark truly embodies our 
                  <a href="https://www.johnjacobseyewear.com/collections/sale/shape_cat-eye">
                    cat eye frames.
                  </a>
                  Fashion demi-gods salute the power of cat-eyed 
                  frames, the shape that challenges the status quo. 
                  The cat eye has many faces, the over-sized, the quaint cat
                  eye, the dark and the multi-coloured, the
                  cat eye announces trouble! Not everyone’s
                  cup of tea but probably that of the bravest.

                </p>
              </div>
            </div>
          </div>
        </li>
        
        <li>
          <p class='li_title'> Jaime Lannister </p>
          <div class='img'>
           <img src="//cdn.shopify.com/s/files/1/1276/5299/files/jaime.jpg?v=1504082213" alt="">
           <span><i>Image source: www.hbo.com</i></span>
         </div>
         <div class='product'>
          <div class="flex_view_xs middle"> 
            <div class="col-xs-6 col-sm-6"> 
              <div class='p_img space-right'>
                <a href="https://www.johnjacobseyewear.com/collections/sale/shape_aviator"> 
                <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/frames02.jpg?14038939588024129760" alt="">
                </a>
              </div>
            </div> 
            <div class="col-xs-6 col-sm-6"> 
              <p class='p_text'>
                The prince charming of Casterly Rock, 
                Jaime Lannister is capable of pure 
                badassery and sheer goodwill, all while 
                keeping it cool under pressure! Our
                <a href="https://www.johnjacobseyewear.com/collections/sale/shape_aviator"> 
                  range 
                  of aviators 
                </a>
                (hey there, good lookin’!) are as 
                cool as cucumbers and Ser Jaime Lannister. 
                A permutation of colours and materials means you 
                will be constantly seeing new-er sides to our aviator
                frames each time you pick a pair or two!
              </p>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
  
  <div class='end'>
    <p>
      <i>
        Disclaimer: This blog is a light take on Game of Thrones by its fans. In no manner does the production house of the show (HBO) or the personalities mentioned above endorse our brand or its products. 
      </i>
    </p>
  </div>
</div>
