<div class="cart-header-cus xs-hide">
  <div class='row'> 
    <div class='col-md-12 p0'>
      <div class="modal-header">
        <h4 class="modal-title">Eye Prescription will be taken after order is placed.</h4>
      </div>
    </div>
  </div>
</div>


<div class="container cart-header-cus xs-show">
    <div class='row'> 
      <div class='col-md-12 p0'>
        <div class="modal-header">
      <h4 class="modal-title">Eye Prescription will be taken after order is placed.
      </h4>
    </div>
      </div>
  </div>
</div>