<div class="bogo_wrapper clearfix">
  <div class="image_icon flex_view middle"> 
    <div class="col-sm-12 col-xs-12 text-center img_bogo">
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/gift.png?15863254011827046694">
      </div>
      <div class="text-wrapper">
        
        {% if last_item.product.type == 'Sunglasses' %}
        {%- assign link =  "/collections/sunglasses" -%}

        {% elsif last_item.product.type == 'Eyeglasses' %}
        {%- assign link =  "/collections/eyeglasses" -%}

        {% elsif last_item.product.type == 'Contact_Lens_Medical' %}
        {%- assign link =  "/collections/medical-contact-lenses" -%}

        {% elsif last_item.product.type == 'Contact_Lens_Color' %}
        {%- assign link =  "/collections/color-contact-lenses" -%}

        {%- else -%}
        {%- assign link =  "/collections/eyeglasses" -%}
        {%- endif  -%}
        
        {% assign bluCollection = "best-seller-blue,blue-light-eyeglasses-with-zero-power,blue-light-blocking-eyeglasses,blue-light-eyeglasses-for-men,blue-light-eyeglasses-for-women,blue-light-eyeglasses-for-kids,blue-light-blocker-magnetic-clip-on-glasses" | split: ',' %}
        {% for collection in last_item.product.collections %}
			{% if bluCollection contains collection.handle %}
				{%- assign link =  "/collections/blue-light-blocking-eyeglasses" -%}
        	{% endif %}
		{% endfor %}
        
        <p class="get_free_msg">Get your second pair for free</p>
        <a class='btn discount_cart_btn' href="{{link}}">Add your Second Pair</a>
      </div>
    </div>
  </div>
</div>