<div class="katrina-collection-preivew xs-hide">
<!--   <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-landing-page.jpg?16843499568806867648" alt="" title=""/> -->
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s11061-women?variant=1532611887129">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/1_8ab52550-9a9f-41f0-89cb-1b05bcabe34b.jpg?16843499568806867648" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s10946-women?variant=1287355465753">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/2_6983842f-01c2-44e0-825a-2e862a9dd3aa.jpg?16843499568806867648" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s10950-women?variant=1287354449945">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/3_c7379e5d-0ad3-451e-a469-4629175967b6.jpg?16843499568806867648" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/eyeglasses-for-women/products/pro-titanium-jj-e11331-unisex">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/4_86987bdf-7552-427b-9580-c0b75a4fca60.jpg?16843499568806867648" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s10945-women?variant=1287355596825">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/5_626daca3-396e-4f84-b914-4849f8adc4e2.jpg?16843499568806867648" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/eyeglasses-for-women/products/pro-titanium-jj-e10266-unisex?variant=1229816594457">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/6.jpg?16843499568806867648" alt="" title="">
  </a>
</div>

<div class="katrina-collection-preivew xs-show">
<!--   <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-06.png?4253910198179528294" alt="" title=""/> -->
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s11061-women?variant=1532611887129">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-07.png?4253910198179528294" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s10946-women?variant=1287355465753">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-12.png?4253910198179528294" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s10950-women?variant=1287354449945">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-11.png?4253910198179528294" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/eyeglasses-for-women/products/pro-titanium-jj-e11331-unisex">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-10.png?4253910198179528294" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/sunglasses-for-women/products/jj-tints-s10945-women?variant=1287355596825">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-09.png?4253910198179528294" alt="" title="">
  </a>
  <a href="https://www.johnjacobseyewear.com/collections/eyeglasses-for-women/products/pro-titanium-jj-e10266-unisex?variant=1229816594457">
    <img src="https://cdn.shopify.com/s/files/1/1276/5299/files/katrina-08.png?4253910198179528294" alt="" title="">
  </a>
</div>