<div class="container home_eyewithpres xs-show">
          <div class="col-sm-12 col-xs-12">
            {% assign src_name = settings.mobiletopbannerimg  %}
        	{% include 'srcset-img' %}
          </div>
          <div class="col-sm-12 col-xs-12 text">
            <h3>Eyeglasses for {% include 'buy_2_vc' %}</h3>
            <p>with Prescription Lenses</p>
          </div>
          
           <div class="col-sm-12 col-xs-12 mb">
<!--              <div class="home_buy_n_free">Buy 1 & Get 2nd Pair for 50% OFF</div> -->
             <div class="home_buy_n_free" style="font-size:18px">Buy One Get One Free</div>
          </div>
          
          <div class="col-sm-12 col-xs-12 mb">
            <div class="home_buy_n_free">Free 14 Days Exchange or Refund</div>
          </div>
          
          <div class="col-sm-6 col-xs-6 home_shopformen p0">
            <a href="/collections/eyeglasses-for-men" class="btn green-btn">Shop Men <br>Eyeglasses</a>
          </div>
          <div class="col-sm-6 col-xs-6 home_shopforwomen p0">
            <a href="/collections/eyeglasses-for-women" class="btn green-btn">Shop Women <br>Eyeglasses</a>
          </div>
        </div>