
<div class="container mb-30">
<div class="row large--flex">
  
     <div class="col-md-6 col-xs-12 col-sm-12">
      <img style="max-width:100%;margin-top: 3px;" class="pdp-banner" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/ProductPage_600x195_ebf74bf1-2f99-4293-964f-938aa9fb266e.jpg?v=1610798798"/>
      <!--
      <h3>Free 14 Days Promise</h3>
      <p>Enjoy two weeks to try out our frames. Send back for a free exchange or refund. Free shipping always <span class="tooltip">Learn More</span></p>

      <span class="tooltiptext">
        <p class="text-left">At Lenskart, we guarantee the quality of our eyewear. If you are not happy with your glasses, simply contact us for a refund or a replacement.</p>
        <p></p>
        <h3 class="">Free 14 Days Promise</h3>
        <p class="text-left">Lenskart has a 14-Day Fit & Style guarantee which allows customers to make an equal exchange or return with no questions asked.</p>
        
        <h3 class="">365-Day Product Guarantee</h3>
        <p class="text-left">Our 365-Day Product Guarantee means Customers are eligible for a one-time replacement pair within 12 months. A one-time replacement pair will be only issued if there are clear defects in material and workmanship.</p>
       
        <p class="disclmr text-left">Product warranty does not cover damage caused by accidents, negligence, or improper care.</p>
        <span class="closetooltip">×</span>
      </span>
      <div class="bgoverlay_promise"></div>
		-->
    </div>




<div class="col-md-6 col-xs-12 col-sm-12 pp-delivery-details">
  <div class="row">
    
     <div class="col-xs-12 col-sm-12">
       <div class='title'>Delivery Details</div>
       <div class="subtitle">Delivered in 7-10 days</div>
    </div>
    <div class="col-xs-3 col-sm-3 block">
      <img src="https://static.lenskart.com/media/mobile/universal/assets/return.svg" alt="14 Days Free Return " style="height: 29px;">
      <div class="lineone">14 Days</div>
      <div class="linetwo">Free Return</div>
    </div>
    <div class="col-xs-3 col-sm-3 block">
      <img src="https://static.lenskart.com/media/mobile/universal/assets/year_extended.svg" alt="1 Year Warranty " style="height: 29px;">
      <div class="lineone">1 Year</div>
      <div class="linetwo">Warranty</div>
    </div>
    <div class="col-xs-3 col-sm-3 block">
      <img src="https://static.lenskart.com/media/mobile/universal/assets/free_shipping.svg" alt="Free Shipping In India " style="height: 29px;">
      <div class="lineone">Free</div>
      <div class="linetwo">Shipping</div>
      
    </div>
    <div class="col-xs-3 col-sm-3 block">
      <img src="https://static.lenskart.com/media/desktop/img/site-images/ic_exchange.svg" alt="Exchange At Our Stores " style="height: 29px;">
      <div class="lineone">Free</div>
      <div class="linetwo">Exchange</div>
    </div>
    
  </div>
</div>
  </div>
</div>
<style>
   @media only screen and (max-width: 750px) {
  	.pdp-banner{
		height: 112px;    
  	}
   }
</style>
