    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="ripple-box">

          <div class="ripple-icon icon hvr-bounce-in">
            <div class="inner">

            </div>
            <div class="pulse1" style="left: 0px; top: 0px;"></div>
            <div class="pulse2" style="left: 0px; top: 0px;"></div>
            <div class="pulse3" style="left: 0px; top: 0px;"></div>
            <div class="pulse4" style="left: 0px; top: 0px;"></div>
          </div>
          
          
          
          <div class="grid wrapper" style="z-index:1">
            <div class="grid__item col-md-4 text-center">
              <div class="instructions-column">
                <div class="content fadein fadein-active">
                  <h3 class="fontBody">OXYGEN</h3>
                  <p class="product-style">4 Times More Oxygen For All Day Comfort</p>
                </div>
                <div class="content fadein fadein-active">
                  <h3 class="fontBody">AQUAGEN TECH</h3>
                  <p class="product-style">Continuous Wettability Throughout Wearing Time and end of the day comfort</p>
                </div>
              </div>  
            </div>

            <div class="grid__item col-md-4 text-center">             
            <div class="instructions-column-middle1 heading1MomentElement">
                <div class="content fadein fadein-active">
                  <h3 class="fontBody">UV Blocking</h3>
                  <p class="product-style">Protection From Harmful UV Rays</p>
                </div>
              </div> 
              
              <div class="instructions-column-middle2 heading1MomentElement">
                <div class="content fadein fadein-active">
                  <h3 class="fontBody">HD Vision</h3>
                  <p class="product-style">Aspheric optics give you breathtakingly sharp vision through the entire lens, with no distortion.</p>
                </div>
              </div> 
              
            </div>

            <div class="grid__item col-md-4 text-center">
              <div class="instructions-column heading1MomentElement">
                <div class="content fadein fadein-active">
                  <h3 class="fontBody">WATER CONTENT</h3>
                  <p class="product-style">3rd Generaton Silicone Hydrogel with High Water Content</p>
                </div>
                <div class="content fadein fadein-active">
                  <h3 class="fontBody">CLEAR VISION</h3>
                  <p class="product-style">Aspheric Lens For Clear Vision</p>
                </div>
              </div>
            </div>

          </div>
        </div>         
      </div>
</div>