<div id="quick_add_result">
  <h3>Product added to the cart</h3>
  <div class="buttons">
    <a class="btn" href="/cart">See Cart</a>
    <a class="btn" href="#" onclick="$.fancybox.close(); return false;">Continue Shopping</a>
<!--     <a class="btn" href="/checkout">Checkout</a> -->
  </div>
</div>
<div id="loading_ajax" class="text-center">
  <div class="img">
    <img src="{{'ajax-loader.gif' | asset_url}}">
  </div>
</div>