<div class="container-fluid quickstartguide xs-show">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding-zero xs-show">
      <div class="">QUICK START GUIDE <span><i class="arrow down"></i></span></div>
      <span class="close">&times;</span>
    </div>
  </div>
</div>

<div class="quickstartguide_text xs-show">
  <div class="qcontents">
  <p class="head">It’s Easy To Buy Eyeglasses Online</p>
  
  <h3>1. Select Your Gender</h3>
  <p>First, as per your Gender go to the respective collection: <a href="/collections/eyeglasses-for-men">Eyeglasses For Men</a>, <a href="/collections/eyeglasses-for-women">Eyeglasses For Women</a>, <a href="/collections/kids-eyeglasses">Eyeglasses For Kids</a>.</p>
  
  <h3>2. Virtual 3D Try On</h3>
  <p>Find your frame size and try frames in 3D with a <a href="/pages/compare-looks">Virtual 3D Try-On</a> to get an idea of how it looks on you. Also, find out the frame that’s perfect for your face shape</p>
  
  <h3>3. Find a Pair You Will Love</h3>
  <p>Choose your favorite frame from 2000+ Premium Quality eyeglasses and get them with Prescription Lenses with Anti-glare coating, UV protection, water, and dust resistant properties. </p>
  
  <h3>4. Make a Purchase</h3>
  <p>Pay with Credit Card / Debit Cards or with PAYPAL and complete your transaction.</p>
  
  <h3>5. Submit Your Eye Prescription / Eye Power</h3>
  <p>Manually fill out or Submit the Image of your Eye Power Prescription.</p>
  
  <p>All our eyeglasses come with a free 14-day trial, which means if you don’t like the glasses you have received, you can ask for a refund or an exchange.</p>
  
  <p class="faqs"><a href="/pages/faqs">FAQs</a></p>
  <p class="contact"><a href="/pages/contact-us">CONTACT US</a></p>
  </div>
</div>