<div class="search_form">
  <form class="search" action="/search">
    <input type="text" placeholder="Search" class="input_box snize-input-style" name="q" value="{{ search.terms | escape }}"  />
    <span class="search-close"><i class="fa fa-close" aria-hidden="true"></i></span>
    <button class="submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</div>