<li class="{{section.settings.product_row}} col-sm-4 col-xs-12 item" data-sku="{{variant.sku}}">
  <div class="main_content">
    {% include 'simply-variant' %}
    {% include 'loading' %}
  </div>
</li>