<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="modern no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    {% include 'password-head' %}
{{ content_for_header }}
  
  {% render 'shogun-head' %}
</head>
  <body class="template-password">
    <div class="password_page text-center">
      {{ content_for_layout }}
    </div>
    {% include 'password-footer' %}
  </body>
</html>
