<div class='shipping_section'>
{% assign step_no = 1 %}
{% include 'checkout-steps' %}
</div>
{% comment %}
<script>
	{% endcomment %}
	{% schema %}
	{
		"name": "Checkout Shipping",
		"class":"no_padding",
		"settings": [
	
		]
	}
	{% endschema %}
	{% comment %}
</script>
{% endcomment %}
