
<style><!--
.cms-frame-size-guide{margin-top: 25px; min-height:600px}
    .spc {padding-top:5px;}
    .fontstyle {font-size:12px;padding-top:5px;}
    .bgco{background-color:#f4f4f4; width:126px;padding-bottom:3px;margin-top:3px; border:1px solid #ccc;}
    .bgco1 {background-color:#ee740f;width:206px;padding:5px;margin-top:12px;color:#ffffff;font-size:14px;padding-top:7px;}
    .bgco2 {background-color:#ee740f;width:206px;padding:5px;margin-top:5px;color:#ffffff;font-size:14px;padding-top:7px;}
    .fsize {font-size:14px;padding:5px;text-align:center; margin:18px;}
    .success-msg {display:none;}
    h1{font-size: 22px;}
    h3{font-size: 20px; }


    .frame_g{width:100%;float:left; color:#282828; margin-bottom: 10px;}
    .frame_g .fr_b1{width:100%;float:left; margin-bottom: 20px;}
    .frame_g .fr_b1 img{width:100%;float:left; }
    .frame_g .fr_b1 h2{width:100%;float:left; font-size: 18px; font-weight: bold }
    .frame_g .fr_b1 h4{float:left; font-size: 14px; font-weight: bold;width:100%; }
    .frame_g .fr_b1 ul{margin-bottom:5px;}
    .frame_g .fr_b1 dl{width:100%;float:left;}
    .frame_g .fr_b1 dl dt{width:25%;float:left;font-weight:bold;color:#353535; font-size:16px; text-align:right; margin: 5px 0 0 0px;}
    .frame_g .fr_b1 dd{width:70%;float:left; text-align:left;     margin: 5px 0 0 7px;}
    .bold{font-weight: bold;}
    .leftshift1 img{border: 1px solid #ccc;     margin-bottom: 10px;}
    .back2saved-add {
      float: right;
      padding: 3px 5px 2px;
      background: #3bb3a9;
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      margin: 5px 0 0 0;
    }

    .eyesize {background:#10b3b1;color:#ffffff;padding:6px 0; max-width: 180px;
    margin: auto;}
    .sunsize {background:#91b968;color:#ffffff;padding:6px 0;}

    @media(min-width:600px)
    {
      .fonthead {font-size:21px;}
      .leftshift {float:left;padding-left:1.5%;text-align:left;width:48%;}
      .leftshift1 {float:left;padding-left:1.5%;text-align:left;width:31.8%;}
      .topspc {margin-top:0px;}
      .frame_g > p {font-size:12px; }
    }
    @media(max-width:599px)
    {
  .eyesize {max-width: 110px;}
      h1{font-size: 18px;}
      h3{font-size: 16px; margin: 14px 0 0 0;}
      .fonthead {font-size:18px;}
      .leftshift {display:block; text-align:center;width:100%; }
      .leftshift1 {display:block; text-align:center;width:100%; margin: 17px 0 0px 0; border-bottom: 1px solid #efefef;}
      .topspc {margin-top:10px;}
      .bgco1 {margin-bottom:15px;}
      .bgco1 { display: none;}
      .bgco2 {display: none;}
      .frame_g .fr_b1 dl dt{  }
      .frame_g .fr_b1 dd{}
      p {}
    }
    }
--></style>
<div class="container-fluid frame-size-guide">
  <center>
  <div style="width: 100%; max-width: 990px; overflow: auto; text-align: center; letter-spacing: 1px; padding: 0px 0 10px 0;">
    <h1 class="h1" style="padding: 10px 0 10px 0px; background: #329C92; text-transform: uppercase; margin: 0px; color: #fff;">How to know your Frame Size?</h1>
    
    <!---- Method 3 ---->
    <div class="frame_g">
      <div class="fr_b1">
        <div class="bold fonthead" style="clear: both; color: #17a596; background-color: #efefef; padding: 8px 10px; border-top: 1px solid #efefef; font-size: 16px; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #efefef; margin: 11px  0 10px 0;">1. if you've an existing eyeglass</div>
        <p>Find out the Frame Size which will fit you the best from your Lens Width. You can find it inside one of your temples. It is usually a number written between 40 to 70.</p>
      </div>
      <div class="fr_b1"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/ic_measurements.png?v=1592311680" alt="" border="0" /></div>
      <p style="font-weight: bold; font-size: 18px;">Lens Width &amp; Frame Size</p>
      <table class="frametable" border="1" cellpadding="0" cellspacing="0" style="width: 97%; margin: 0px auto;">
        <tbody>
          <tr>
            <td style="height: 40px; width: 207px; text-align: center;">
              <p><strong>Frame Size</strong></p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <p><strong>Eyeglasses Lens Width</strong></p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <p><strong></strong></p>
            </td>
          </tr>
          <tr>
            <td style="height: 40px; width: 207px; text-align: center;">
              <p>Small</p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <p>Below 51 mm</p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <a href="/collections/small-size-eyeglasses" style="text-decoration: none;">
                <div class="eyesize">Small Eyeglasses &gt;</div>
                </a>
            </td>
          </tr>
          <tr>
            <td style="height: 40px; width: 207px; text-align: center;">
              <p>Medium</p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <p>51 mm- 54 mm</p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <a href="/collections/medium-size-eyeglasses" style="text-decoration: none;">
                <div class="eyesize">Medium Eyeglasses &gt;</div>
                </a>
            </td>
          </tr>
          <tr>
            <td style="height: 40px; width: 207px; text-align: center;">
              <p>Large</p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <p>Above 54 mm</p>
            </td>
            <td style="height: 40px; width: 161px; text-align: center;">
              <a href="/collections/large-size-eyeglasses" style="text-decoration: none;">
                <div class="eyesize">Large Eyeglasses &gt;</div>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <br/>
    <!--SECTION 2--->
    <div class="bold fonthead" style="clear: both; color: #17a596; background-color: #efefef; padding: 8px 10px; border-top: 1px solid #efefef; font-size: 16px; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #efefef; margin: 34px  0 0 0;">2. if you don't have an existing eyeglass</div>
    <div style="width: 100%; margin-top: 22px;">
      <div class="leftshift">
        <div class="bold" style="font-size: 15px;">1. Take a Debit/Credit card</div>
        <img class="spc" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/credit-card-1-01.png?v=1592311597" border="0" alt="" />
        <div class="fontstyle">This is the approximate width of a medium Eyeglass, Sunglass</div>
      </div>
      <div class="leftshift topspc">
        <div class="bold topspc" style="font-size: 15px;">2. Stand in front of a mirror.</div>
        <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/credit-card-1-02.png?v=1592311616" border="0" alt="" />
        <div class="fontstyle">Place one tip of the card on center of your nose and touch the other towards the edge of eye.</div>
      </div>
      <div style="width: 100%; display: table;">
        <div class="bold" style="font-size: 15px; margin: 20px  0 6px 10px; text-align: left;">3. Now check the position of the card: -</div>
        <div class="leftshift1"><img class="spc" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/credit-card-size-marks-01.png?v=1592311631" border="0" alt="" />
          <div class="fontstyle">If card extends beyond the corner of the eye</div>
          <center>
            <div class="fsize bold bgco">Size is SMALL</div>
            <div style="overflow: hidden;">
              <div style="float: left; width: 43%; padding: 1%; margin-left: 4%;">
                <a href="https://international.lenskart.com/collections/small-size-eyeglasses" style="text-decoration: none;">
                <div class="eyesize">Eyeglasses &gt;</div>
                </a>
              </div>
              <div style="float: left; width: 43%; padding: 1%;"><a href="https://international.lenskart.com/collections/small-size-sunglasses" style="text-decoration: none;">
                <div class="sunsize">Sunglasses &gt;</div>
                </a></div>
            </div>
          </center></div>
        <div class="leftshift1"><img class="spc" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/credit-card-size-marks-02_png.png?v=1592311640" border="0" alt="" />
          <div class="fontstyle">If card roughly touches the corner of the eye</div>
          <center>
            <div class="fsize bold bgco">Size is MEDIUM</div>
            <div style="overflow: hidden;">
              <div style="float: left; width: 43%; padding: 1%; margin-left: 4%;">
                <a href="https://international.lenskart.com/collections/medium-size-eyeglasses" style="text-decoration: none;">
                <div class="eyesize">Eyeglasses &gt;</div>
                </a>
              </div>
              <div style="float: left; width: 43%; padding: 1%;"><a href="https://international.lenskart.com/collections/medium-size-sunglasses" style="text-decoration: none;">
                <div class="sunsize">Sunglasses &gt;</div>
                </a></div>
            </div>
          </center></div>
        <div class="leftshift1"><img class="spc" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/credit-card-size-marks-03.png?v=1592311654" border="0" alt="" />
          <div class="fontstyle" style="padding-right: 2%;">If card doesn't reach the corner of the eye</div>
          <center>
            <div class="fsize bold bgco">Size is LARGE</div>
            <div style="overflow: hidden;">
              <div style="float: left; width: 43%; padding: 1%; margin-left: 4%;">
                <a href="https://international.lenskart.com/collections/large-size-eyeglasses" style="text-decoration: none;">
                <div class="eyesize">Eyeglasses &gt;</div>
                </a>
              </div>
              <div style="float: left; width: 43%; padding: 1%;"><a href="https://international.lenskart.com/collections/large-size-sunglasses" style="text-decoration: none;">
                <div class="sunsize">Sunglasses &gt;</div>
                </a></div>
            </div>
          </center></div>
      </div>
    </div>
  </div>
  </center>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
