<div class="container-fluid padding-zero blue-home-banner-img">
  <div class="row">
<!--     <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 class="title_horizontal_line"><span>{{ section.settings.htext_1 }}</span></h2>
    </div> -->
     <div class="col-md-12 col-sm-12 col-xs-12 xs-hide">
       <a href="collections/eyeglasses">
        {% assign src_name = section.settings.image_1 %}
        {% include 'srcset-img' %}
       </a> 
    </div>    
    <div class="col-md-12 col-sm-12 col-xs-12 xs-show"> 
      <a href="collections/eyeglasses">
       {% assign src_name = section.settings.image_2 %}
        {% include 'srcset-img' %}
      </a>
     
    </div>   
  </div>
</div>

 {% schema %}
      {
      "name": "Home Separate Img",
      "class": "home-separate-img",
      "settings": [
      
      {
      "type": "text",
      "label": "Header text",
      "id": "htext_1",
		"default":"Our Lense"
      },
{
      "type": "image_picker",
      "id": "image_1",
      "label": "Desktop Image"
      },
      {
      "type": "url",
      "label": "button link",
      "id": "url_1"
      },
       {
      "type": "image_picker",
      "id": "image_2",
      "label": "Mobile Image"
      },
      {
      "type": "url",
      "label": "button link",
      "id": "url_2"
      }
      ],
      "presets": [
      {
      "name": "Home Separate Img",
      "category": "Banner"
      }
      ]
      }
{% endschema %}
