<div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
    <h3 style="text-transform:uppercase">Eyeglasses FOR {% include 'buy_2_vc' %}</h3>
    <h3 class="mb-30"> Including Prescription Lenses</h3>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Text With Video",
    "class": "index-section hometextvideo xs-hide",
    "settings": [
{
"id": "htext",
"type": "text",
"label": "Heading",
"default": "Title"
},
{
"id": "text",
"type": "text",
"label": "Heading",
"default": "Title"
}
	],

  "presets": [
    {
      "name": {
        "en": "Home Text With Video"
        
      },
      "category": {
        "en": "Text"
        
      }
    }
  ]

  }
{% endschema %}