<div id='shop_by_insta_page'>
  <div class='container'>
    <h1 class='text-center'>{{page.title}}</h1>
    <p class="text-center">Like what you see? Just click to buy!</p>
    <div id="evm_shopify_app"></div>
  </div>
</div>