<div class="container-fluid buying-guide">
   
  <div class="rte">
    {{ page.content }}
  </div>


  <section class="container-block1" style="margin-top:0 !important" data-role="scroll-section" id="home">
  <div class="lk-container">
    <div class="color-1 pt-4 font-light">
    <h4 class="f-36 m-0 color-1 opensan">Know</h4>
    <h3 class="f-36 mt-2 ml-5 pl-5 mb-4 color-1 opensan">your</h3>
    <h2 class="display-4 ml-4 pl-4 my-3 color-1 opensan">EYEGLASSES</h2>
  </div>
<div class="row mt-4">
  <div class="lk-col-7">
    <p class="f-14 text-muted">Buying eyeglasses can be a daunting task especially when you have a wide variety of shapes, designs and discounts available around you to lure the eyes. Whereas a wrong size, wrong fit or a wrong frame can leave you with a sour experience. But don’t worry! This comprehensive guide will ensure you end up with ‘nothing but the perfect’ pair for your eyes.</p>

     <p class="f-14 text-muted mb-4">Let us first know about an eyeglass frame in depth.</p>

    <a class="hide-element" href="" class="kl-btn f-12 font-bold">READ MORE</a>
  </div>
</div>
</div>
</section>


<section class="container-block2" data-role="scroll-section" id="frame-components">
  <div class="container-page">

    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="lk-row">
          <div class="lk-col-6">
            <div class="d-flex">
              <span class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico2.png" width="67" alt=""></span>
              <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">FRAME <br> COMPONENTS</p>
              <p class="text-muted">Knowing your frame specifications is very important. Any eyeglass frame consists of 3 major parts in its construction namely frame front, temples and lenses. Some other components of an eyeglass are rim, nose-bridge, nose pads, hinges and temple tips.</p>
            </div>
            
          </div>
          
        </div>
        <div class="lk-col-6 mt-5">
          <img src="https://static.lenskart.com/images/assets/img/img-01.png" alt="">
        </div>
      </div>
      <div class="lk-row text-center f-14 mt-5">
        <div class="lk-col-4">
          <img src="https://static.lenskart.com/images/assets/img/img-02.png" alt="">
          <h6 class="font-bold my-2 f-16 ">FRAME FRONT</h6>
          <div class="underline mb-3"></div>
          <p class="text-muted">
          Also known as chassis or the base, a frame front is the largest part of an eyewear. It is made with different materials and combinations like Acetate, TR 90, Titanium, Wood, Nylon etc.</p>
        </div>
        <div class="lk-col-4">
          <img src="https://static.lenskart.com/images/assets/img/img-03.png" alt="">
          <h6 class="font-bold my-2 f-16">LENSES</h6>
          <div class="underline mb-3"></div>
          <p class="text-muted">
            
          Lenses are usually made with glass, plastic, or polycarbonate and are fitted into the frame. These may come with coatings like the anti-reflective coating to reduce eye strain or prevent Sun-glare.</p>
        </div>
        <div class="lk-col-4">
          <img src="https://static.lenskart.com/images/assets/img/img-04.png" alt="">
          <h6 class="font-bold my-2 f-16">TEMPLES</h6>
          <div class="underline mb-3"></div>
          <p class="text-muted">
            
          Temples are the long arms attached to the frame with hinges/screws, usually with a little bent at the tips to fit well behind the ears. The frame size is commonly mentioned on the temple insides.</p>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
</section>


<section class="container-block3" data-role="scroll-section" id="frame-size">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="lk-row">
          <div class="lk-col-7">
            <div class="d-flex">
              <span class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico3.png" width="67" alt=""></span>
              <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">FRAME SIZES</p>
              <p class="text-muted">Eyeglass frames are broadly divided into 3 size categories- Small, Medium & Large. To determine what fits you, either keep your prescriptions handy or look on the insides your old frame temples for the exact numeric size specifications.</p>
              <p class="text-muted">
              Frame size is a combination of numeric values usually represented in sets e.g. 53-18-140 known as the eye size, bridge size & temple size respectively. </p>
            </div>
            
          </div>
          <div class="mt-5">
            <img src="https://static.lenskart.com/images/assets/img/img-05.png" alt="">
            <div class="lk-row text-center d-flex justify-content-center">
              <div class="lk-col-9 lk-offset-2 text-muted">
                <div class="lk-row ml-3">
                  <div class="lk-col-4">
                    <h6 class="font-bold f-16">EYE SIZE</h6>
                    <p>Horizontal width of frame’s  lens measured in millimeters.<br> Range 40-62</p>
                  </div>
                  <div class="lk-col-4">
                    <h6 class="font-bold f-16">BRIDGE SIZE</h6>
                    <p>Distance between two lenses measured in millimeters.<br> Range 14-24</p>
                  </div>
                  <div class="lk-col-4">
                    <h6 class="font-bold f-16">TEMPLE SIZE</h6>
                    <p>Length of the entire single temple <br> Range 120-150</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lk-col-5 f-14 text-center">
          <h6 class="font-bold f-16 mt-md-0 mt-5">EYEGLASSES LENS WIDTH</h6>
          <div class="lk-row">
            <div class="lk-col-4  my-4">
              <p class="f-16 m-0">SMALL</p>
              <p>50mm & below</p>
              <a href="https://www.lenskart.com/eyeglasses/frame-size/small.html" class="kl-btn f-12 font-bold">VIEW RANGE</a>
            </div>
            <div class="lk-col-4  my-4">
              <p class="f-16 m-0">MEDIUM</p>
              <p>51mm to 54mm</p>
              <a href="https://www.lenskart.com/eyeglasses/frame-size/medium.html" class="kl-btn f-12 font-bold">VIEW RANGE</a>
            </div>
            <div class="lk-col-4  my-4">
              <p class="f-16 m-0">LARGE</p>
              <p>55mm & above</p>
              <a href="https://www.lenskart.com/eyeglasses/frame-size/large.html" class="kl-btn f-12 font-bold">VIEW RANGE</a>
            </div>
          </div>
          <p class="text-muted">Alternatively, you can look in the chart <a href="" class="color-1"> here</a> or use your T-shirt size to find your eyeglasses size. If you still need some help, give missed call on +65 31587899 and we’ll help you out.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<section class="container-block4" data-role="scroll-section" id="frame-face-shapes">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        
        <div class="d-flex">
          <span class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico4.png" width="67" alt=""></span>
          <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">FRAME & FACE SHAPES</p>
          <p class="text-muted">Even with uncountable designs and styles out there, there are only a few chosen ones which complement our look every day. <br> Your face shape plays a very important role to determine which frame would look the best on you and match your personal<br> style statement. </p>
        </div>
        
      </div>
      <div class="table-wrapp hidden-sm">
        <table class="table custom-table text-center">
          <thead>
             <tr>
              <td> </td>
              <td> </td>
              <td>
                <a href="https://lenskart.sg/collections/square-eyeglasses" class="tb-hd underline-2">SQUARE</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              <td>
                <a href="https://lenskart.sg/collections/cat-eye-eyeglasses" class="tb-hd underline-2">CAT-EYE</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              <td>
                <a href="https://lenskart.sg/collections/rectangle-eyeglasses" class="tb-hd underline-2">RECTANGLE</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              <td>
                <a href="https://lenskart.sg/collections/round-eyeglasses" class="tb-hd underline-2">ROUND</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              <td>
                <a href="" class="tb-hd underline-2">OVAL</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              <td>
                <a href="https://lenskart.sg/collections/pilot-eyeglasses" class="tb-hd underline-2">PILOT</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              <td>
                <a href="https://lenskart.sg/collections/clubmaster-eyeglasses" class="tb-hd underline-2">CLUBMASTER</a> <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </td>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://static.lenskart.com/images/assets/img/round.png" alt="" width="50"> </td>
              <td><h6 class="m-0 f-16">ROUND</h6>
              Round chin,<br> wide cheeks </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame1.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame3.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white4.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white5.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white6.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white7.png" alt="" width="100"> </td>
            </tr>
            <tr>
              <td ><img src="https://static.lenskart.com/images/assets/img/square.png" alt="" width="50"> </td>
              <td><h6 class="m-0 f-16">SQUARE</h6>
              Strong<br> jawline </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white1.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white3.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame4.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame5.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame6.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white7.png" alt="" width="100"> </td>
            </tr>
            <tr>
              <td ><img src="https://static.lenskart.com/images/assets/img/oval.png" alt="" width="50"> </td>
              <td><h6 class="m-0 f-16">OVAL</h6>
              Symmetrical,<br> defined cheekbones </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame1.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white3.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white4.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame5.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame6.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white7.png" alt="" width="100"> </td>
            </tr>
            <tr>
              <td ><img src="https://static.lenskart.com/images/assets/img/heart.png" alt="" width="50"> </td>
              <td><h6 class="m-0 f-16">HEART</h6>
              pointed chin,<br> tapered face </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white1.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white3.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame4.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white5.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white6.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white7.png" alt="" width="100"> </td>
            </tr>
            <tr>
              <td ><img src="https://static.lenskart.com/images/assets/img/diamond.png" alt="" width="50"> </td>
              <td><h6 class="m-0 f-16">DIAMOND</h6>
              Narrow forehead,<br> pointed jawline </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white1.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white2.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame3.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white4.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame5.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/close.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame-white6.png" alt="" width="100"> </td>
              <td> <img src="https://static.lenskart.com/images/assets/img/tick.png" width="23" alt=""><br><img src="https://static.lenskart.com/images/assets/img/frame7.png" alt="" width="100"> </td>
            </tr>
          </tbody>
        </table>
      </div>



<div class="visible-sm">
  <div class="box-wrapper bg-lt-blue mt-4">
    <div class="box-left text-center">
      <img src="https://static.lenskart.com/images/assets/img/round.png" alt="">
      <p class="my-2 font-bold f-16">ROUND</p>
      <p class="m-0">Round chin, wide cheeks</p>
    </div>
    <div class="box-right text-center pt-4">
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame1.png" alt="">
        <p class="m-0">WAYFARER</p>
      </span>
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="">
        <p class="m-0">CAT-EYE</p>
      </span>
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame3.png" alt="">
        <p class="m-0">RECTANGLE</p>
      </span>
       
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="box-wrapper bg-lt-blue mt-4">
    <div class="box-left text-center">
      <img src="https://static.lenskart.com/images/assets/img/square.png" alt="">
      <p class="my-2 font-bold f-16">SQUARE</p>
      <p class="m-0">Strong jawline</p>
    </div>
    <div class="box-right text-center pt-4">
      
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="">
        <p class="m-0">CAT-EYE</p>
      </span>
      
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame4.png" alt="">
        <p class="m-0">ROUND</p>
      </span>
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame5.png" alt="">
        <p class="m-0">OVAL</p>
      </span>
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame6.png" alt="">
        <p class="m-0">AVIATOR</p>
      </span>
       
    </div>
    <div class="clearfix"></div>
  </div>



<div class="box-wrapper bg-lt-blue mt-4">
    <div class="box-left text-center">
      <img src="https://static.lenskart.com/images/assets/img/oval.png" alt="">
      <p class="my-2 font-bold f-16">OVAL</p>
      <p class="m-0">Symmetrical, defined cheekbones </p>
    </div>
    <div class="box-right text-center pt-4">
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame1.png" alt="">
        <p class="m-0">WAYFARER</p>
      </span>
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="">
        <p class="m-0">CAT-EYE</p>
      </span>
       
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame5.png" alt="">
        <p class="m-0">OVAL</p>
      </span>
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame6.png" alt="">
        <p class="m-0">AVIATOR</p>
      </span>
       
    </div>
    <div class="clearfix"></div>
  </div>



<div class="box-wrapper bg-lt-blue mt-4">
    <div class="box-left text-center">
      <img src="https://static.lenskart.com/images/assets/img/oval.png" alt="">
      <p class="my-2 font-bold f-16">HEART</p>
      <p class="m-0">pointed chin, tapered face </p>

    </div>
    <div class="box-right text-center pt-4">
      
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame2.png" alt="">
        <p class="m-0">CAT-EYE</p>
      </span>
      
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame4.png" alt="">
        <p class="m-0">ROUND</p>
      </span>
      
    </div>
    <div class="clearfix"></div>
  </div>



<div class="box-wrapper bg-lt-blue mt-4">
    <div class="box-left text-center">
      <img src="https://static.lenskart.com/images/assets/img/oval.png" alt="">
      <p class="my-2 font-bold f-16">DIAMOND</p>
      <p class="m-0">Narrow forehead, pointed jawline </p>
    </div>
    <div class="box-right text-center pt-4">
      
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame3.png" alt="">
        <p class="m-0">RECTANGLE</p>
      </span>
       
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame5.png" alt="">
        <p class="m-0">OVAL</p>
      </span>
      
      <span>
        <img src="https://static.lenskart.com/images/assets/img/frame7.png" alt="">
        <p class="m-0">CLUBMASTER</p>
      </span>
    </div>
    <div class="clearfix"></div>
  </div>

</div>

      
    </div>
  </div>
</div>
</section>




<section class="container-block5" data-role="scroll-section" id="frame-material">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="d-flex">
          <span class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico5.png" width="67" alt=""></span>
          <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">FRAME MATERIAL</p>
          <p class="text-muted ml-2">Frame material is very important while choosing a frame. Below are some of the widely used frame materials:</p>
        </div>
        
      </div>
      <div class="table-wrapp hidden-sm">
        <table class="table custom-table no-border mt-3" id="starTable">
          <thead>
            <tr>
              <td> </td>
              <td align="center">
                <img src="https://static.lenskart.com/images/assets/img/fm-1.png" alt="">
                <p class="mt-2"><a class="f-16">ACETATE  <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </a>  </p>
              </td>
              <td align="center">
                <img src="https://static.lenskart.com/images/assets/img/fm-2.png" alt="">
                <p class="mt-2"><a class="f-16">TR90  <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </a>  </p>
              </td>
              <td align="center">
                <img src="https://static.lenskart.com/images/assets/img/fm-3.png" alt="">
                <p class="mt-2"><a class="f-16">STAINLESS STEEL  <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </a>  </p>
              </td>
              <td align="center">
                <img src="https://static.lenskart.com/images/assets/img/fm-4.png" alt="">
                <p class="mt-2"><a class="f-16">TITANIUM  <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </a>  </p>
              </td>
              <td align="center">
                <img src="https://static.lenskart.com/images/assets/img/fm-5.png" alt="">
                <p class="mt-2"><a class="f-16">WOOD  <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" width="12" alt=""> </a>  </p>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td><h6 class="m-0 f-16 text-left">LIGHTWEIGHT</h6> </td>
              <td>

               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
            </tr>
            <tr class="text-center">
              <td><h6 class="m-0 f-16 text-left">FLEXIBILITY</h6> </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
              </td>
              
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                
              </td>
              <td>
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
            </tr>
            <tr class="text-center">
              <td><h6 class="m-0 f-16 text-left">DURABILITY</h6> </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
              </td>
              
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
            </tr>
            <tr class="text-center">
              <td><h6 class="m-0 f-16 text-left">STYLE QUOTIENT</h6> </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
              </td>
              
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" width="12" alt="">
                
              </td>
              <td>
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
               <img src="https://static.lenskart.com/images/assets/img/star-black.png" width="12" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </div>


<div class="visible-sm">
  
       
        <p class="m-0 f-18 font-bold text-center text-center">ACETATE</p>
        <div class="box-wrapper bg-lt-blue mt-1 ">
          <div class="box-left p-0 text-left">
            <img src="https://static.lenskart.com/images/assets/img/bg-imgs5.png" class="d-flex" alt="">
          </div>
          <div class="box-right  text-left rating-container no-border">
            <div class="mb-2">
              <div class="left-col">Lightweight</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Flexibility</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Durability</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Style Quotient</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /////////////////////////////////////////////////////////   -->
        <p class="m-0 f-18 font-bold text-center  mt-3">TR90</p>
        <div class="box-wrapper bg-lt-blue mt-1 ">
          <div class="box-left p-0 text-left">
            <img src="https://static.lenskart.com/images/assets/img/bg-imgs1.png" class="d-flex" alt="">
          </div>
          <div class="box-right  text-left rating-container no-border">
            <div class="mb-2">
              <div class="left-col">Lightweight</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Flexibility</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Durability</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Style Quotient</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /////////////////////////////////////////////////////////   -->
        <p class="m-0 f-18 font-bold text-center  mt-3">STAINLESS STEEL</p>
        <div class="box-wrapper bg-lt-blue mt-1 ">
          <div class="box-left p-0 text-left">
            <img src="https://static.lenskart.com/images/assets/img/bg-imgs2.png" class="d-flex" alt="">
          </div>
          <div class="box-right  text-left rating-container no-border">
            <div class="mb-2">
              <div class="left-col">Lightweight</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Flexibility</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Durability</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Style Quotient</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /////////////////////////////////////////////////////////   -->
        <p class="m-0 f-18 font-bold text-center  mt-3">TITANIUM</p>
        <div class="box-wrapper bg-lt-blue mt-1 ">
          <div class="box-left p-0 text-left">
            <img src="https://static.lenskart.com/images/assets/img/bg-imgs3.png" class="d-flex" alt="">
          </div>
          <div class="box-right  text-left rating-container no-border">
            <div class="mb-2">
              <div class="left-col">Lightweight</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Flexibility</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Durability</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Style Quotient</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /////////////////////////////////////////////////////////   -->
        <p class="m-0 f-18 font-bold text-center  mt-3">WOOD</p>
        <div class="box-wrapper bg-lt-blue mt-1 ">
          <div class="box-left p-0 text-left">
            <img src="https://static.lenskart.com/images/assets/img/bg-imgs4.png" class="d-flex" alt="">
          </div>
          <div class="box-right  text-left rating-container no-border">
            <div class="mb-2">
              <div class="left-col">Lightweight</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Flexibility</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
                
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Durability</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-white.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <div class="left-col">Style Quotient</div>
              <div class="right-col">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
                <img src="https://static.lenskart.com/images/assets/img/star-black.png" alt="" width="12">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      
</div>




      <p class="text-center f-14 mt-3">To know about more frame materials at length, <a href="https://www.lenskart.com/framematerial-guide">click</a> </p>
    </div>
  </div>
</div>
</section>


<section class="container-block6 text-muted" data-role="scroll-section" id="lens-coating">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="d-flex">
          <span class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico6.png" width="67" alt=""></span>
          <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">LENS COATING</p>
          <h4>Why do  we need lens coating? </h4>
          <p class="text-muted ml-2">Lens Coatings help to enhance the quality and performance of your lenses.<br> There are several types of coatings  which can be applied to impart effective, long-life to your lenses.<br> Some of the most popular ones are - </p>
        </div>
      </div>
      <div class="d-flex justify-content-center my-5">
        <div class="lk-offset-1">
        <div class="d-flex lk-col-10 ml-5 lk-rs-block">
          <div>
            <div class="rounded-circle-custom">
              <div class="icon"><img src="https://static.lenskart.com/images/assets/img/ico11.png" alt=""></div>
              <img src="https://static.lenskart.com/images/assets/img/img-06.png" alt="" class="rounded-circle">
            </div>
          </div>

          <div class="ml-4">
            <p class="f-18 font-bold mb-1">SCRATCH <br> RESISTANT </p>
            <span class="underline mb-4"></span>
            <p class="text-muted f-14 m-0"> No eyeglass lenses, not even glass lenses, are scratch-proof. However, lenses that are treated front and back with a clear, scratch-resistant coating have a much harder surface that is more resistant to scratching, whether from dropping your glasses on the floor or occasionally cleaning them with a paper towel. </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</section>


<section class="container-block7 text-muted" data-role="scroll-section" id="lens-type">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="d-flex">
          <span class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico7.png" width="67" alt=""></span>
          <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">LENS TYPE</p>
          <p class="text-muted ml-2 f-14">
          Lenses are often treated with special coatings or technology to protect your eyes from harmful glare and eye-strains.<br> The technology helps to provide better visual acuity all throughout your eyewear journey. Some of the types are:</p>
        </div>
      </div>
      <div class="lk-row text-center my-5">
        <div class="lk-col-3 mt-md-0 mt-5">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <div class="icon"><img src="https://static.lenskart.com/images/assets/img/ico13.png" alt=""></div>
            <img src="https://static.lenskart.com/images/assets/img/img-07.png" alt="" class="rounded-circle">
          </div>
          <p class="f-18 font-bold mb-1">ANTI-GLARE OR <br>ANTI-REFLECTIVE</p>
          <span class="underline mb-3"></span>
          <p class="f-14 m-0 mb-3">Also called AR Coating <br>
            Eliminates reflections of light <br>
          Improves vision</p>
          <a class="hide-element" href="" class="kl-btn f-12 font-bold">VIEW RANGE</a>
        </div>
        <div class="lk-col-3 mt-md-0 mt-5">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <div class="icon"><img src="https://static.lenskart.com/images/assets/img/ico14.png" alt=""></div>
            <img src="https://static.lenskart.com/images/assets/img/cm-img5.png" alt="" class="rounded-circle">
          </div>
          <p class="f-18 font-bold mb-1">UV PROTECTION <br><br></p>
          <span class="underline mb-3"></span>
          <p class="f-14 m-0 mb-3">Filters out 100% of UVA and UVB light<br>
            Blocks all light rays up to 400 nm<br>
          Provides optimum protection to eyes</p>
          <a class="hide-element" href="" class="kl-btn f-12 font-bold">VIEW RANGE</a>
        </div>
        <div class="lk-col-3 mt-md-0 mt-5">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <div class="icon"><img src="https://static.lenskart.com/images/assets/img/ico15.png" alt=""></div>
            <img src="https://static.lenskart.com/images/assets/img/img-09.png" alt="" class="rounded-circle">
          </div>
          <p class="f-18 font-bold mb-1">BLUE CUT <br><br></p>
          <span class="underline mb-3"></span>
          <p class="f-14 m-0 mb-3">Reflects blue light<br>
            Reduces strain on the eyes<br>
          Imparts more clarity in vision </p>
          <a class="hide-element" href="" class="kl-btn f-12 font-bold">VIEW RANGE</a>
        </div>
        <div class="lk-col-3  mt-md-0 mt-5">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <div class="icon"><img src="https://static.lenskart.com/images/assets/img/ico12.png" alt=""></div>
            <img src="https://static.lenskart.com/images/assets/img/cm-img9.png" alt="" class="rounded-circle">
          </div>
          <p class="f-18 font-bold mb-1">HYDROPHOBIC <br> ANTI-GLARE LENSES</p>
          <span class="underline mb-3"></span>
          <p class="f-14 m-0 mb-3">Additional coating to repel water<br>
            Exhibits anti-glare properties<br>
          Easier to clean</p>
          <a class="hide-element" href="" class="kl-btn f-12 font-bold">VIEW RANGE</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>




<section class="container-block8 text-muted" data-role="scroll-section" id="prescription-type">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="lk-row">
          <div class="lk-col-9">
            <div class="d-flex">
              <span  class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico6.png" width="67" alt=""></span>
              <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">PRESCRIPTION TYPE</p>
              
              <p class="text-muted ml-2 f-14">
              It is important to find the right prescription type for your eyes before you buy eyeglasses. Find out if <br> you need single vision lenses, bifocals or progressives from the chart below: </p>
            </div>
          </div>
          <div class="ml-0 ml-md-4">
            <div class="bg-faded my-4 shadow ml-0 ml-md-5 table-wrapp hidden-sm">
              <table class="table custom-table no-border blue-bg mb-0">
                <thead>
                  <tr>
                    <td></td>
                    <td><p class="mt-2 font-bold"><a class="f-16">SINGLE VISION <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" alt="" width="12"></a> </p></td>
                    <td><p class="mt-2 font-bold"><a class="f-16">BIFOCAL <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" alt="" width="12"></a> </p></td>
                    <td><p class="mt-2 font-bold"><a class="f-16">PROGRESSIVE <img src="https://static.lenskart.com/images/assets/img/arrow-right.png" alt="" width="12"></a> </p></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> <span class="color-2 f-14 font-bold"> FIELDS OF VISION</span></td>
                    <td> <span class="color-2 f-14 "> ONE</span></td>
                    <td> <span class="color-2 f-14 "> TWO</span></td>
                    <td> <span class="color-2 f-14 "> THREE</span></td>
                  </tr>
                  <tr>
                    <td> <span class=" f-14 font-bold">VISION RANGE  </span></td>
                    <td> <span class=" f-14">NEAR OR DISTANT  </span></td>
                    <td> <span class=" f-14">NEAR AND DISTANT  </span></td>
                    <td> <span class=" f-14">NEAR, DISTANT & <br> INTERMEDIATE  </span></td>
                    
                  </tr>
                  <tr>
                    <td> <span class="color-2 f-14 font-bold">VISIBLE DISTINCTION  </span></td>
                    <td> <span class="color-2 f-14">NO VISIBLE DISTINCTION  </span></td>
                    <td> <span class="color-2 f-14">SINGLE VISIBLE LINE  </span></td>
                    <td> <span class="color-2 f-14">NO VISIBLE DISTINCTION  </span></td>
                    
                  </tr>
                  <tr>
                    <td><span class=" f-14 font-bold">CORRECTION  </span></td>
                    <td><span class=" f-14">CORRECTS MYOPIA, <br>HYPERMETROPIA &<br> ASTIGMATISM  </span></td>
                    <td><span class=" f-14">CORRECTS PRESBYOPIA </span></td>
                    <td><span class=" f-14">CORRECTS PRESBYOPIA  </span></td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

<div class="visible-sm">

<table class="table custom-table no-border blue-bg mb-0">
  <thead>
    <tr>
      
      <td colspan="2"><p class="mt-2 font-bold text-center"><a class="f-16">SINGLE VISION </a> </p></td>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <span class="color-2 f-14 font-bold"> FIELDS OF VISION</span></td>
      <td> <span class="color-2 f-14 "> ONE</span></td>
      
    </tr>
    <tr>
      <td> <span class=" f-14 font-bold">VISION RANGE  </span></td>
      <td> <span class=" f-14">NEAR OR DISTANT  </span></td>
      
      
    </tr>
    <tr>
      <td> <span class="color-2 f-14 font-bold">VISIBLE DISTINCTION  </span></td>
      <td> <span class="color-2 f-14">NO VISIBLE DISTINCTION  </span></td>
      
      
    </tr>
    <tr>
      <td><span class=" f-14 font-bold">CORRECTION  </span></td>
      <td><span class=" f-14">CORRECTS MYOPIA, <br>HYPERMETROPIA &<br> ASTIGMATISM  </span></td>
      
      
    </tr>
  </tbody>
</table>
<table class="table custom-table no-border blue-bg mb-0">
  <thead>
    <tr>
      <td colspan="2"><p class="mt-2 font-bold text-center"><a class="f-16">BIFOCAL </a> </p></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <span class="color-2 f-14 font-bold"> FIELDS OF VISION</span></td>
      <td> <span class="color-2 f-14 "> TWO</span></td>
    </tr>
    <tr>
      <td> <span class=" f-14 font-bold">VISION RANGE  </span></td>
      <td> <span class=" f-14">NEAR AND DISTANT  </span></td>
      
    </tr>
    <tr>
      <td> <span class="color-2 f-14 font-bold">VISIBLE DISTINCTION  </span></td>
      <td> <span class="color-2 f-14">SINGLE VISIBLE LINE  </span></td>
      
    </tr>
    <tr>
      <td><span class=" f-14 font-bold">CORRECTION  </span></td>
      <td><span class=" f-14">CORRECTS PRESBYOPIA </span></td>
      
    </tr>
  </tbody>
</table>


<table class="table custom-table no-border blue-bg mb-4">
  <thead>
    <tr>      
      <td colspan="2"><p class="mt-2 font-bold text-center"><a class="f-16">PROGRESSIVE </a> </p></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <span class="color-2 f-14 font-bold"> FIELDS OF VISION</span></td>
      
      <td> <span class="color-2 f-14 "> THREE</span></td>
    </tr>
    <tr>
      <td> <span class=" f-14 font-bold">VISION RANGE  </span></td>
      
      <td> <span class=" f-14">NEAR, DISTANT & <br> INTERMEDIATE  </span></td>
      
    </tr>
    <tr>
      <td> <span class="color-2 f-14 font-bold">VISIBLE DISTINCTION  </span></td>
      
      <td> <span class="color-2 f-14">NO VISIBLE DISTINCTION  </span></td>
      
    </tr>
    <tr>
      <td><span class=" f-14 font-bold">CORRECTION  </span></td>
      
      <td><span class=" f-14">CORRECTS PRESBYOPIA  </span></td>
      
    </tr>
  </tbody>
</table>

</div>


        </div>
        <div class="lk-col-3  d-flex justify-content-center">
          <div>
            <div class="box-img tp1 d-flex align-items-center justify-content-center">
              <span class="f-16 text-center">
                NEAR <br> OR <br> DISTANT
              </span>
            </div>
            <h6 class="color-2 text-center font-bold mt-2 f-16">SINGLE VISION</h6>
            <div class="mt-5 box-img tp2 d-flex align-items-center justify-content-center">
              <span class="f-16 text-center">
                DISTANT <br> <br> <br> NEAR
              </span>
            </div>
            <h6 class="color-2 text-center font-bold mt-2 f-16">BIFOCAL</h6>
            <div class="mt-5 box-img tp3 d-flex align-items-center justify-content-center">
              <span class="f-16 text-center">
                DISTANT<br><br><br>  NEAR
              </span>
            </div>
            <h6 class="color-2 text-center font-bold mt-2 f-16">PROGRESSIVE</h6>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</section>




<section class="container-block9 text-muted" data-role="scroll-section" id="eye-eyewear-care">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="d-flex">
          <span  class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico9.png" width="67" alt=""></span>
          <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">EYE & EYEWEAR CARE</p>
        </div>
      </div>
      <div class="text-center mt-4">
        <p class="f-18 font-bold mb-1">EYE CARE</p>
        <div class="underline"></div>
      </div>
      
      <div class="lk-row text-center my-4">
        <div class="lk-col-3  ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <img src="https://static.lenskart.com/images/assets/img/cm-img1.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Maintain a good diet by including leafy vegetable, fruits, fish and nuts in your daily diet.</p>
        </div>
        
        
        <div class="lk-col-3 ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <img src="https://static.lenskart.com/images/assets/img/cm-img3.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Try taking breaks from the screen time every 20 minutes for 20 seconds by looking 20 feet away. This is popularly known as the 20-20-20 rule.</p>
        </div>
        
        
        <div class="lk-col-3 ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <img src="https://static.lenskart.com/images/assets/img/cm-img4.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Avoid smoking. It makes you more prone to cataracts and macular degeneration and can even damage your optic nerves.</p>
        </div>
        
        
        <div class="lk-col-3 ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <img src="https://static.lenskart.com/images/assets/img/cm-img8.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Use safety eyewear or protective goggles especially when you indulge in sports like skiing, swimming, cycling etc.</p>
        </div>
        
      </div>
      <div class="text-center mt-5">
        <p class="f-18 font-bold mb-1">EYEWEAR CARE</p>
        <div class="underline"></div>
        <p class="text-muted f-14 mt-3">Follow certain tips below to help your eyeglasses last longer:</p>
      </div>
      <div class="lk-row text-center my-4">
        <div class="lk-col-3  ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <img src="https://static.lenskart.com/images/assets/img/cm-img7.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">To start cleaning, rinse your glasses with lukewarm water. Dry them gently & always use a microfiber cloth to clean your glasses. Never resort to tissues/napkins/other clothing to wipe your lenses. The harsh texture of these can leave scratches on the lens and remove the protective coatings.</p>
        </div>
        
        
        <div class="lk-col-3 ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <div class="icon"><img src="https://static.lenskart.com/images/assets/img/close.png" alt=""></div>
            <img src="https://static.lenskart.com/images/assets/img/cm-img2.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Do not use chemicals or soaps that are scented or contain dyes to clean your glasses either. Always use a protective lens spray like <a href="https://www.lenskart.com/eyewear-accessories/lens-cleaner-spray-solution.html" class="color-2"> Aqualens Lens Cleaner</a> by Lenskart. It is specifically designed for cleaning regular smudges, dust and facial oils from eyeglasses. This will not only preserve the shine of the frame, but will also help to increase the shelf life of the spectacles.</p>
        </div>
        
        
        <div class="lk-col-3 ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <img src="https://static.lenskart.com/images/assets/img/cm-img6.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Do not store glasses in your pockets or backpacks. If you are not wearing them, keep them in a <a href="https://www.lenskart.com/eyewear-accessories/cases.html" class="color-2">Hard Case</a>  or safe place like on an <a href="https://www.lenskart.com/eyewear-accessories/eye-wear-stand.html" class="color-2"> Eyewear Stand.</a> Leaving your glasses unattended openly can cause dust to form a residue on the sides of the frame which can even enter the eyes and impede clarity.</p>
        </div>
        
        
        <div class="lk-col-3 ">
          <div class="rounded-circle-custom d-inline-block mb-4">
            <div class="icon"><img src="https://static.lenskart.com/images/assets/img/close.png" alt=""></div>
            <img src="https://static.lenskart.com/images/assets/img/cm-img10.png" alt="" class="rounded-circle">
          </div>
          <p class="text-muted f-14">Avoid placing your glasses on top of your head. Also, use two hands to take your glasses on and off. This will prevent them from getting loose over time. Just in case they do, use a handy <a href="https://www.lenskart.com/eyewear-accessories/screw-driver.html" class="color-2"> Screw Driver</a> to keep them as good as new!</p>
        </div>
        
      </div>
      
      
      
    </div>
  </div>
</div>
</section>

<section class="container-block10 pb-0 text-muted" data-role="scroll-section" id="popular-collections">
  <div class="container-page">
    <div class="lk-row justify-content-center">
      <div class="lk-col-10">
        <div class="d-flex">
          <span  class="title-icon"> <img src="https://static.lenskart.com/images/assets/img/ico10.png" width="67" alt=""></span>
          <div class="f-14"><p class="f-46 font-light color-1 m-0 ml-2">POPULAR COLLECTIONS</p>
          <h4>Lenskart creates a mélange of style and superior designs – all under a single roof with <br>Vincent Chase and John Jacobs.</h4>
          
        </div>
      </div>
      
    </div>
  </div>
<div class="lk-row mt-5">
  <div class="lk-col-6 d-flex align-items-center justify-content-end bg-img-pc">
    <a href="https://lenskart.sg/collections/vincent-chase-eyeglasses">
    <img src="https://static.lenskart.com/images/assets/img/lg-1.png" alt="">
  </a>
  </div>
  <div class="lk-col-6 bg-color1">
    <div class="p-5 f-16 text-white col-md-11 col-lg-10 ">
      <p class="my-4">Vincent Chase aims to redefine eyewear fashion with its classic and contemporary styles, all in-line with the latest trends. VC strives to bring high-quality, durable designs at very affordable prices. Explore some of its most popular collections with Vagabond, Size Zero & Myriad - designed to impart a stunning statement to your look every time.
      </p>
    </div>
  </div>
</div>


<div class="lk-row">
  <div class="lk-col-6 d-flex align-items-center justify-content-end bg-img-pc-2">
    <a href="https://lenskart.sg/collections/john-jacobs-eyeglasses">
    <img src="https://static.lenskart.com/images/assets/img/lg-2.png" class="mr-4" alt="">
  </a>
  </div>
  <div class="lk-col-6 bg-color2">
    <div class="p-5 f-16 text-white col-md-11 col-lg-10 ">
      <p class="my-4">Discover the luxury of internationally appealing, premium designs with John Jacobs Collections. These bring back iconic elements from history and merge them together with the modish craftsmanship of today to get the very best on your eyes. Experience the opulence of owning a style statement with its most popular collections.
      </p>
    </div>
  </div>
</div>

</div>

</section>
  
</div>
