<div class="container privacy-policy-1">
  <div class="text-left">
    <h3 class="page_header">{{ page.title }}</h3>
  </div>

  {% unless page.content == blank %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>
{% endunless %}
