<div class="container-fluid loyalty-lk">
 
  <div class="row">
<!--     Desktop Images -->
    <div class="col-md-12 col-sm-12 imagecontainer xs-hide">
      <img src="https://cdn.shopify.com/s/files/1/0135/4144/1595/files/02.jpg?3493377697446361992" alt="" />
      <div class="loyalty-btn">
        <a href="https://lenskart.sg/cart/add?id=20232957100091&quantity=1?redirect=%2Fcheckout">Buy Gold Membership for $30</a>
        <p> Get One Pair Free For Every Pair You Buy</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 imagecontainer xs-hide">
      <img src="https://cdn.shopify.com/s/files/1/0135/4144/1595/files/01.jpg?2878178345147097757" alt="" />
    </div>
    
<!--     Mobile Images -->
    <div class="md-hide col-sm-12 imagecontainer md-hide">
      <img src="https://cdn.shopify.com/s/files/1/0135/4144/1595/files/03.jpg?3655922335588305263" alt="" />
      <div class="loyalty-btn">
        <a href="https://lenskart.sg/cart/add?id=20232957100091&quantity=1?redirect=%2Fcheckout">Buy Gold Membership for $30</a>
        <p> Get One Pair Free For Every Pair You Buy</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 imagecontainer md-hide">
      <img src="https://cdn.shopify.com/s/files/1/0135/4144/1595/files/05.jpg?6552255234104477873" alt="" />
    </div>
    <div class="col-md-12 col-sm-12 imagecontainer md-hide">
      <img src="https://cdn.shopify.com/s/files/1/0135/4144/1595/files/04.jpg?1719379032634280117" alt="" />
    </div>

    <div class="col-md-12 col-sm-12 tnc">
      <div class="col-md-offset-3 col-sm-offset-3">
      <h1>Terms and Conditions</h1>
<p>1. Offer is valid for 365 days. For Every Pair You purchase in next 365 Days, you will get a Pair Free</p>
<p>2. Offer is applicable on purchase of products on Lenskart.sg website and our Offline Store</p>
<p>3. You will only be able to avail Gold Membership if you Sign in while making purchase</p>
<p>4. Gold Membership cannot be returned or cancelled</p>
    </div>
</div>

  </div>
  {% unless page.content == blank %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>
{% endunless %}
