<div class="xs-hide">
	{% section 'page-store-locator' %}
</div>
<div class="xs-show">
	{% section 'productpage-store-locator' %}
</div>
{% comment %}
<div class="container">
	<div class="video_wrapper">
		 <div class="g_address"  id="locationField">
      <input id="autocompleteLocation" placeholder="Enter a city"  type="text" />
    </div>
		
		<div id="map"></div>
	</div>
</div>
{% endcomment %}