<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css" rel="stylesheet">
<style>
  
.blue-landing-page p{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132.5%;
  color: #000000;
}
.blue-landing-page .container{
  max-width: 1280px;
  width: 100%;
}
.blue-landing-page .blue-banner-container .container{
   max-width:90%;
 }
 .blue-landing-page, .blue-landing-page h2,.blue-landing-page h3,.blue-landing-page p,.blue-landing-page a{
  font-family: 'Rajdhani', sans-serif;
  }
.blue-banner-container {
    position: absolute;
    left: 0px;
    right: 0;
    top: 25%;
}
 .blue-landing-page .container-block1{
   position:relative;
 }
  .blue-landing-page img{
   max-width:100%;
    height:auto;
  } 
  
 .blue-landing-page h2{
  font-family: 'Rajdhani', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 105%;
  color: #006DBC;
 }
  
 .blue-landing-page h3{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 138.5%;
  color: #006DBC;

  }
 .blue-landing-page .banner-des span{
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 105%;
  color: #006DBC;
  display:block;
  } 
  .blue-landing-page .banner-des span span{
   display:inline-block;
  }
  
 .blue-landing-page .banner-des .btn{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 24px 6px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  }
 .btn-wrapper{
   padding-left: 7%;
   margin-top:40px; 
  }
  
  .blue-banner-img-slide .slides li{
    position:relative;
  }
  .blue-banner-img-slide .flex-control-nav{
    bottom:50px;
  }

  .blue-banner-img-slide .flex-direction-nav a{
    opacity:1;
  }
  .blue-banner-img-slide .flex-direction-nav .flex-prev{
    left:20px;
  }

  .blue-banner-img-slide .flex-direction-nav .flex-next{
    right:20px;
  }
  
 .blue-banner-img-slide .flex-direction-nav a:before{
   margin-top:17px;
   font-size: 30px;
   color: rgba(0, 0, 0, 0.5);
  }
 
  .blue-banner-img-slide .flex-control-paging li a{
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: none;
 }

  .blue-banner-img-slide .flex-control-paging li a.flex-active{
  background: #006DBC;
  border: 1px solid #000000;
  box-sizing: border-box;
 }
.blue-landing-page .section{
 padding: 40px 0;
}

.blue-landing-page .needs-img{
  height: 250px;
  vertical-align: bottom;
  display: table-cell;
  padding-bottom: 20px;
}
.who-needs-blue-lenses span{
   font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 138.5%;
  text-align: center;
  color: #000000;
  display: block;
  text-align: center;
}
.blue-landing-page .block5-img{
  padding: 0 10%;
}
.blue-landing-page .block5-content{
 padding-top: 5%;
}

.blue-landing-page .shop-blue-content .btn{
  background: #006DBC;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 65px;
  color: #FFFFFF;
  max-width: 505px;
  margin: 0 20px;
  width: 100%;
  border:none;
  padding:0px;
}

.who-are-blue-lenses .col-md-4{
 padding: 0 30px;
}

.blue-landing-page .who-are-blue-lenses .container {
    max-width: 1170px;
}
.blue-landing-page .who-are-blue-lenses h3{
  margin-bottom: 30px;
}

.blue-landing-page .who-are-blue-lenses-img{
 position: relative;
 display: block;
}
.blue-landing-page .who-are-blue-lenses-img span{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 168.5%;
  color: #000000;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 150px;
  margin: 0 auto;
  background: #fff;
  bottom: 0px;
  text-align: center;
}
.pair-blue-lenses .col-md-3{
      -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 30px;
}

.blue-landing-page .pair-blue-lenses .who-are-blue-lenses-img span{
  font-size: 20px;
  border: 0.5px solid #d8d3d3;
  bottom: 0px;
  line-height: 40px;
}
.section.bestselling-slider-page {
    padding-top: 0;
}
.view-range{
  padding-top: 30px;
}
.view-range a{
  background: #006DBC;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  color: #FFFFFF;
  padding: 5px 20px 5px;
  border:none;
}
.bestselling-slider-page .flex-control-nav{
  display: none;
}
.view-range a:hover{
  color: #FFFFFF;
  background: #006DBC;
}

.bestselling-slider-page .flex-direction-nav a{
  opacity: 1
}

.bestselling-slider-page .flex-direction-nav a:before{
  font-size: 33px;
  margin-top:10px;
}
.bestselling-slider-page .flex-direction-nav .flex-disabled{
 opacity: 0.5 !important;
}
  
.blue-mobile-view{
  display: none;
}
  
.pair-blue-lenses img{
  border: 0.5px solid #d8d3d3;
 }
 .blue-landing-page .banner-des.main-banner-text span{
  font-size:34px;
 } 
  
  #blue-light-block-lenses-lenskart .best-heading{
    font-size: 32px !important;
    line-height: 138.5% !important;
    text-transform:none;
  }
 
  
@media only screen and (max-width: 1024px) {
 .blue-landing-page .blue-banner-container .container {
    max-width: 90%;
}
 .blue-landing-page h2,.blue-landing-page .banner-des span{
   font-size:53px; 
  } 
 .blue-landing-page .banner-des .btn{
   font-size: 28px;
   line-height: 42px;
  }  
  .who-needs-blue-lenses span{
   font-size:24px;
  }
  
 .blue-landing-page .block5-content {
    padding-top: 3%;
} 
 .blue-landing-page .block5-content p br{
   display:none;
  }
  .blue-landing-page .shop-blue-content .btn{
   max-width:450px;
   margin:0 10px;  
  }
  .bestselling-slider-page .flex-direction-nav a.flex-next{
   right:6px;
  }
  .bestselling-slider-page .flex-direction-nav a.flex-prev{
   right:6px;
  }
}
  
@media only screen and (max-width: 1023px) {
 .blue-mobile-view{
  display: block;
}
 #blue-light-block-lenses-lenskart .best-heading {
    font-size: 27px !important;
} 
  .blue-banner-container{
   top:35%;
  }
  .container-block2 .col-md-6{
   margin-bottom:20px;
  }
.blue-desktop-view{
  display: none;
}
.blue-landing-page h2{
  font-size: 38px;
}
.blue-landing-page .banner-des span{
  font-size: 28px;
}
.blue-landing-page .banner-des .btn{
  font-size: 24px;
  line-height: 32px;
}
.blue-banner-img-slide .flex-direction-nav{
  display: none;
}
.blue-banner-img-slide .flex-control-nav {
    bottom: 20px;
}
.pair-blue-lenses .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 0px;
    float:left;
}
   
.blue-landing-page h3{
  font-size: 28px;
}
.blue-landing-page .shop-blue-content .btn{
  font-size: 22px;
  margin: 0 0 20px;
}
.blue-landing-page .who-are-blue-lenses-img{
 margin-bottom:20px; 
}
.blue-landing-page .blue-banner-container .container {
    max-width: 100%;
}
  .container-block3{
   text-align:center;
  }
 .container-block3 .blue-mobile-view{
   display:inline-block;
  }
  .blue-landing-page .needs-img{
   height:270px;
  }
}
  
 @media only screen and (max-width: 767px) {
 .blue-banner-container {
    top: 20%;
}
.blue-landing-page .block5-img{
   padding-bottom:30px;
  }   
 .blue-landing-page p{
    font-size:20px;
    margin-bottom:0px;
 } 
 .blue-landing-page .section {
    padding: 10px 0;
}
 .blue-landing-page .needs-img {
    height: 250px;
}
 .blue-landing-page h3{
    text-align:center;
 }
 .container-block2 .col-md-6{
    margin-top:20px;
 }
.blue-landing-page .banner-des span {
    font-size: 26px;
} 
  }
  
 @media only screen and (max-width: 479px) {
 .blue-landing-page .needs-img {
    height: 155px;
}
 .blue-landing-page h2 {
    font-size: 22px;
   margin-bottom:18px;
}
   .blue-landing-page .banner-des span{
    font-size:16px;
   }  
 .blue-landing-page .banner-des .btn {
    font-size: 15px;
    line-height: 14px;
    padding: 10px 13px 6px;
}
 .btn-wrapper {
    padding-left: 8%;
    margin-top: 14px;
}
 .who-needs-blue-lenses span {
    font-size: 20px;
    padding: 0 11%;
}
 .blue-landing-page p {
    font-size: 20px;
}
 .blue-landing-page .block5-img{
    margin-top:30px;
 }
.blue-landing-page .shop-blue-content .btn {
    font-size: 20px;
    line-height: 37px;
 }
 .blue-landing-page h3 {
    font-size: 27px;
}
#blue-light-block-lenses-lenskart .best-heading {
    font-size: 27px !important;
}
  .blue-landing-page .who-are-blue-lenses-img span{
    font-size:22px;
 }
 .blue-landing-page .pair-blue-lenses .who-are-blue-lenses-img span {
    bottom: 0px;
    font-size: 16px;
    width: 100px;
    line-height: 26px;
} 
 .pair-blue-lenses img{
    border: 0.5px solid #d8d3d3;
 }
 .view-range a{
   font-size:18px;
   line-height:25px;
  }
 .view-range{
    padding-bottom:30px;
  }
   .who-needs-blue-lenses span{
    min-height:60px;
   }
}
  
  @media only screen and (max-width: 359px) {
   .who-needs-blue-lenses span{
     font-size:18px;
     min-height: 50px;
   }
    .view-range a{
     font-size:15px;
     line-height:25px;
    }
  }  

</style>

<div class="blue-landing-page">

<!-- banner section start -->
<section class="container-block1">

 <!--    mobile banner -->
   <div class="blue-mobile-banner blue-mobile-view ">
   <div class="blue-banner-container">  
  <div class="container">
    <div class="banner-des">
    <h2 class="">Blue Light<br> Blocking Lenses</h2>
      <span>for everyone who<br> <strong>stares at a screen </strong>all day </span>
      <div class="btn-wrapper">
        <a class="btn" href="/collections/blue-light-blocking-eyeglasses">SHOP NOW</a>
      </div>
  </div>
</div>
 </div>
    <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/bannermob_bac644ec-4bbb-4be0-8e8d-70b08d117f52.png?v=1606557664" alt="banner" />
  </div>
   
   <!--    mobile banner --> 
  
 <div class="blue-banner-img-slide blue-desktop-view">
   
  <!--    desktop banner slider--> 
  <ul class="slides">
     <li>
   <div class="blue-banner-container">  
  <div class="container">
    <div class="banner-des main-banner-text">
    <h2 class="">Blue Light<br> Blocking Lenses</h2>
      <span>for everyone who<br> <strong>stares at a screen </strong>all day </span>
      <div class="btn-wrapper">
        <a class="btn" href="/collections/blue-light-blocking-eyeglasses">SHOP NOW</a>
      </div>
  </div>
</div>
 </div>
      <img class="blue-desktop-view" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/mainimages_48807d7f-3a3e-465c-9cd8-76028ce10a6d.png?v=1606559331" alt="man banner" />
    </li>
    <li>
   <div class="blue-banner-container">  
  <div class="container">
    <div class="banner-des">
    <h2 class="">Blue Light Lenses <br> For Men</h2>
    <span>Starting at {{ 9000 | money_without_trailing_zeros }}</span>
      <div class="btn-wrapper">
        <a class="btn" href="/collections/blue-light-eyeglasses-for-men">SHOP NOW</a>
      </div>
  </div>
</div>
 </div>
      <img class="blue-desktop-view" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/man-banner_42cdabba-6402-4cea-b05b-dc96c8c621b3.jpg?v=1606558014" alt="banner" />
    </li>
    <li>
  <div class="blue-banner-container">  
  <div class="container">
    <div class="banner-des">
    <h2 class="">Blue Light Lenses <br> For Women</h2>
    <span>Starting at {{ 9000 | money_without_trailing_zeros }}</span>
      <div class="btn-wrapper">
        <a class="btn" href="/collections/blue-light-eyeglasses-for-women">SHOP NOW</a>
      </div>
  </div>
</div>
 </div>
      <img class="blue-desktop-view" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/women-desktop_917a0c15-49d0-4ad2-a5ec-96a3e2abc62e.jpg?v=1606558195" alt="banner" />
    </li>
    <li>
      
   <div class="blue-banner-container">  
  <div class="container">
    <div class="banner-des">
    <h2 class="">Blue Light Lenses <br> For Kids</h2>
    <span>Starting at {{ 9000 | money_without_trailing_zeros }}</span>
      <div class="btn-wrapper">
        <a class="btn" href="/collections/blue-light-eyeglasses-for-kids">SHOP NOW</a>
      </div>
  </div>
</div>
 </div>
      <img class="blue-desktop-view" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/kids_blu_eb139ff2-0f6b-4424-ad86-afb005ea1334.jpg?v=1606557404" alt="banner" />
    </li>
  </ul>
   <!--    desktop banner slider--> 
 </div>    
</section>
<!-- banner section end -->

<!-- why blue lenses section start -->
<section class="container-block2 section">
  <div class="container">
    <div class="row">
    <div class="col-md-6 blue-desktop-view">
      <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Man-with-Tablet_cb5c50d6-2af7-4250-a554-94ebbeff4ff6.png?v=1606558608">
    </div>
    <div class="col-md-6">
      <h3>Why BLU Lenses?</h3>
      <p>Excessive screen time on digital devices such as phones, tablets and computers exposes our eyes to harmful blue light that can potentially cause strain, dry eyes, irritability, a disturbed sleep cycle and headaches.</p>
    </div>
  </div>
  </div>
</section>
<!-- why blue lenses section end -->

<!-- eye section start -->
<section class="container-block3 section">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <img class="blue-desktop-view" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/eye-img_d162a235-9cf6-4dd3-840c-7855f34415e1.png?v=1606558744">
      <img class="blue-mobile-view" src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/why1.jpg?v=1606116790">
    </div>
  </div>
  </div>
</section>
<!-- eye section end -->


<!-- Who needs BLU Lenses section start -->
<section class="container-block4 section who-needs-blue-lenses">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h3>Who needs BLU Lenses?</h3></div>
    <div class="col-md-3 col-sm-6 col-xs-6">
     <div class="needs-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/desktopblu_19.jpg?v=1606116850"></div>
      <span>Working Professionals</span>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
       <div class="needs-img"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/desktopblu_21.jpg?v=1606116850"></div>
      <span>Hardcore Gamers</span>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <div class="needs-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/desktopblu_23.jpg?v=1606116850"></div>
      <span>Binge-Watchers</span>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
       <div class="needs-img"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/desktopblu_25.jpg?v=1606116851"></div>
      <span>Screen Happy Kids</span>
    </div>
  </div>
  </div>
</section>
<!-- Who needs BLU Lenses section end -->


<!-- why blue lenses section start -->
<section class="container-block5 section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 block5-content">
      <p>Lenskart BLU Lenses are not just useful for working adults, but are also for people who spend who <br>spend a minimum of <strong>two hours a day in-front of a screen</strong>.</p>
    </div>
    <div class="col-md-6">
      <div class="block5-img"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/LightSplittingbyGlasses.png?v=1606134915"></div>
    </div>
  </div>
  </div>
</section>
<!-- why blue lenses section end -->


<!-- shop blue lenses section start -->
<section class="container-block6 section shop-blue-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      <a href="../collections/blue-light-eyeglasses-with-zero-power" class="btn">SHOP BLUE LENSES ZERO POWER</a>
      <a href="../collections/blue-light-blocking-eyeglasses" class="btn">SHOP BLUE LENSES WITH POWER</a>
    </div>
    
  </div>
  </div>
</section>
<!-- shop blue lenses section end -->


<!-- Who are you shopping section start -->
<section class="container-block7 section who-are-blue-lenses">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h3>Who are you shopping for?</h3></div>
    <div class="col-md-4">
     <a href="../collections/blue-light-eyeglasses-for-men" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Men_Eyeglasses_931616c9-ad79-406e-852f-44e399ed9254.jpg?v=1606560115"><span>MEN</span></a>
    </div>
    <div class="col-md-4">
       <a href="../collections/blue-light-eyeglasses-for-women" class="who-are-blue-lenses-img"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Women_Eyeglasse.jpg?v=1606560115"><span>WOMEN</span></a>
    </div>
    <div class="col-md-4">
      <a href="../collections/blue-light-eyeglasses-for-kids" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Kids_Eyeglasses_8f320aa5-ceb3-421b-bdee-4daba2c85ca3.jpg?v=1606560115"><span>KIDS</span></a>
    </div>

  </div>
  </div>
</section>
<!-- Who are you shopping section end -->
  
<!-- Pair BLU Lenses section start -->
<section class="container-block7 section who-are-blue-lenses pair-blue-lenses">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h3>Pair BLU Lenses with All Frame Styles, Zero Power and Powered Lenses</h3></div>
    <div class="col-md-3">
     <a href="../collections/blue-light-blocking-eyeglasses/shape_rectangle" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Rectangle_Eyeglasses_f90fa148-9b10-41b9-afad-53bb6b3d8125.jpg?v=1606117159"><span>RECTANGLE</span></a>
    </div>
    <div class="col-md-3">
       <a href="../collections/blue-light-blocking-eyeglasses/shape_round" class="who-are-blue-lenses-img"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Round_Eyeglasses_82d3b25e-6aa4-46d2-b97b-0772e9c3e39f.jpg?v=1606117159"><span>ROUND</span></a>
    </div>
    <div class="col-md-3">
      <a href="../collections/blue-light-blocking-eyeglasses/frame-type_full-rim" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Full_Rim_Eyeglasses_f1e0d43e-44cc-4c1d-81e3-6debf8d00ee9.jpg?v=1606117159"><span>FULL RIM</span></a>
    </div>
     <div class="col-md-3">
      <a href="../collections/blue-light-blocking-eyeglasses/frame-type_half-rim" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Half_Rim_Eyeglasses_16a62de4-4e57-43bf-b124-66bc2348cfaf.jpg?v=1606117159"><span>HALF RIM</span></a>
    </div>
     <div class="col-md-3">
      <a href="../collections/blue-light-blocker-magnetic-clip-on-glasses" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Clip_Glasses_e2943f9a-cef0-48ab-83b3-c735c5b8dac2.jpg?v=1606117159"><span>CLIP-ON</span></a>
    </div>


     <div class="col-md-3">
     <a href="../collections/blue-light-blocking-eyeglasses/shape_cat-eye" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Cat_Eye_Glasses_521d58cd-1e1c-4b42-8108-688bf617287f.jpg?v=1606117159"><span>CAT-EYE</span></a>
    </div>
    <div class="col-md-3">
       <a href="../collections/blue-light-blocking-eyeglasses/shape_wayfarer" class="who-are-blue-lenses-img"><img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Wayfarer_Eyeglasses_6cdfad5b-d8d4-498d-95c8-a9aa0850ecae.jpg?v=1606117159"><span>WAYFARER</span></a>
    </div>
    <div class="col-md-3">
      <a href="../collections/blue-light-blocking-eyeglasses/frame-type_rimless" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Rimless_Eyeglasses_8f63d2ac-2857-4007-bfdd-072efe44e812.jpg?v=1606117159"><span>RIMLESS</span></a>
    </div>
     <div class="col-md-3">
      <a href="../collections/blue-light-blocking-eyeglasses/shape_square" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Square_Eyeglasses_cb63e7e0-6f10-42de-9b3d-f721c1cfafe4.jpg?v=1606117159"><span>SQUARE</span></a>
    </div>
     <div class="col-md-3">
      <a href="../collections/blue-light-blocking-eyeglasses/shape_aviator" class="who-are-blue-lenses-img"> <img src="https://cdn.shopify.com/s/files/1/0047/5335/8922/files/Aviator_Eyeglasses_ad52633f-1ce3-43b9-b4b8-07052c332eeb.jpg?v=1606117159"><span>AVIATOR</span></a>
    </div>

  </div>
  </div>
</section>
<!-- Pair BLU Lenses section end -->  
  
  
<!-- best selling section start -->
<!--<section class="container-block7 section bestselling-slider-page">
<div class="container">
<div class="row">
 <div class="col-md-12 text-center">
   <h3>Bestselling BLU Lens Glasses</h3>
 </div> 
<div class="col-md-12">
<div class="bestselling-slider carousel">
  <ul class="slides">
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>

     <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
     <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0261/8979/1312/files/Square_Eyeglasses.jpg?v=1605935869" />
    </li>
  </ul>
</div>
</div>
<div class="col-md-12 view-range text-center">
  <a href="#" class="btn">VIEW RANGE</a>
</div>
</div>
</div>
</section>-->
{% section 'home-products-slider' %}
<!-- best selling section start -->  
</div> 




