{% section 'pages-banner' %}
<div id='events_page'>
  {% section 'page-events-5' %}
  {% section 'page-events-6' %}
  {% section 'page-events-7' %}
  {% section 'page-events-4' %}
  {% section 'page-events-1' %}
  {% section 'page-events-2' %}
  {% section 'page-events-3' %}
  
</div>
