<div class="container mywishlistpage">
  <div class="text-left">
    <a href="javascript&colon; history.go(-1)" class="backto-account">
    <i class="fa fa-arrow-circle-left"></i>
  </a>
    <h1 class="page_header text-center">My wishlist</h1>
  </div>

  <div class="wlsidebar">
    <div class="wlsidebar_container">
      <div class="wlitem_container wishlist-page-container">
        <h4 class="maintitle">There are no products in your wishlist</h4>
        <div class="wlitems row">

        </div>
      </div>
    </div>
  </div> 
</div>


