<!-- product template -->
<div class="container product_breadcrumbs">
   {% include 'breadcrumbs' %}
</div>
{% section 'product-template-vincent' %}

<div class="product_lens_details"> 
{% section 'product-lens-details' %}
</div>
